rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access for a limited time for setup.
    // TODO: Secure these rules before launching to production.
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2025, 12, 31);
    }
  }
}
